body{
   
    margin: 0;
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
    padding: 10px;
    color: antiquewhite;
    font-size: 4em;
    text-align: center;
}
p{
    font-size: 2em;
    font-weight: 100;
    color: rgb(38, 33, 99);
}

div{
    text-shadow: 23px;
    font-family: 'Satisfy', cursive;
} 
/*sections*/
.top-container{
    background-color: rgb(252, 90, 190);
    padding: 20%;
    position: relative;
}
.middle-container{
    background-color: rgb(173, 117, 154);
    padding: 20%;
    position: relative;
}
.bottom-container{
    background-color: rgb(214, 139, 204);
    padding: 20%;
    position: relative;
}
/* images */

.pudding{
     float: left;
    margin: 20px;
    border-radius: 100% ;
}
.pudding1{
    float: right;
    margin: 20px;
   border-radius: 100% ;
}
.bottomcloud{
    position: absolute;
    right: 1000px;
    top: 500px;
   
}
.bottomcloud2{
   
}
.topcloud{
    margin-left: 100%;
    margin-top: 20%;
    
    
    
}
.topcloud2{
}
/*id headers*/
#h1{
  

